.portfolio-item {
    margin-bottom: 30px;
   box-shadow: rgb(105, 173, 105);
  }

  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
 .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(54, 52, 58, 0.6);
  }
 .portfolio-wrap::before {
    content: "";
    background: rgba(54, 52, 58, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
 .portfolio-wrap img {
      width: 415px;
      height: 350px;
    transition: all ease-in-out 0.3s;
  }